*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:linear-gradient(to bottom,#5b0014,#2b0009,#000000);
color:white;
overflow:hidden;
}

.hero{
position:relative;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
overflow:hidden;
}

/* DARK OVERLAY GLOW */
.overlay{
position:absolute;
width:100%;
height:100%;
background:radial-gradient(circle at center,rgba(255,215,0,0.15),transparent 60%);
z-index:1;
}

.hero-content{
position:relative;
z-index:2;
}

.glow-title{
font-size:80px;
background:linear-gradient(90deg,gold,white,gold);
background-size:200%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
animation
