*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#000;
color:white;
overflow-x:hidden;
}

/* NAVBAR */
nav{
position:fixed;
top:0;
width:100%;
background:#3B0619;
padding:15px 60px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
}

nav strong{
font-size:20px;
letter-spacing:2px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav a:hover{
color:gold;
}

/* HERO */
.hero{
height:100vh;
background:linear-gradient(135deg,#000000,#3B0619,#000000);
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
overflow:hidden;
}

/* TITLE SHIMMER */
.glow-title{
font-size:75px;
letter-spacing:6px;
font-weight:bold;
background:linear-gradient(90deg,gold,white,gold);
background-size:200%;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
animation:shine 4s linear infinite;
text-shadow:0 0 25px rgba(255,215,0,0.6);
}

@keyframes shine{
0%{background-position:0%;}
100%{background-position:200%;}
}

.hero p{
font-size:22px;
margin-top:20px;
color:gold;
letter-spacing:3px;
}

.hero-buttons{
margin-top:40px;
}

.hero-buttons a{
background:gold;
color:black;
padding:14px 25px;
margin:10px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
transition:0.3s;
}

.hero-buttons a:hover{
background:white;
}

/* CRAZY PLANE */
.crazy-plane{
position:absolute;
width:380px;
top:75%;
left:-600px;
transform:rotate(20deg);
animation:flyExtreme 8s linear infinite;
z-index:5;
filter:drop-shadow(0 0 35px white);
}

@keyframes flyExtreme{
0%{
left:-600px;
top:80%;
transform:rotate(20deg) scale(1);
}
25%{
top:40%;
transform:rotate(-15deg) scale(1.1);
}
50%{
top:15%;
transform:rotate(10deg) scale(1.2);
}
75%{
top:50%;
transform:rotate(-5deg) scale(1.05);
}
100%{
left:120%;
top:65%;
transform:rotate(15deg) scale(1);
}
}

/* CLOUDS */
.cloud{
position:absolute;
background:white;
opacity:0.05;
border-radius:50%;
filter:blur(80px);
z-index:1;
}

.cloud1{
width:500px;
height:250px;
top:20%;
left:-500px;
animation:cloudMove 60s linear infinite;
}

.cloud2{
width:600px;
height:300px;
top:50%;
left:-800px;
animation:cloudMove 80s linear infinite;
}

.cloud3{
width:400px;
height:200px;
top:70%;
left:-400px;
animation:cloudMove 50s linear infinite;
}

@keyframes cloudMove{
0%{left:-800px;}
100%{left:130%;}
}

/* ANNOUNCEMENTS */
.announcements{
padding:120px 10%;
background:#f4f4f4;
color:black;
}

.announcements h2{
color:#3B0619;
margin-bottom:20px;
font-size:32px;
}

.list-item{
background:white;
padding:15px;
margin:10px 0;
border-left:5px solid #3B0619;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
