*{margin:0;padding:0;box-sizing:border-box;}
body{font-family:Arial,Helvetica,sans-serif;background:#f4f4f4;}

nav{
background:#3B0619;
padding:15px 50px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}
nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}
nav a:hover{color:gold;}

.section{
padding:100px 10%;
}

h1,h2{color:#3B0619;margin-bottom:20px;}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
max-width:500px;
margin:auto;
}

input,select{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#3B0619;
color:white;
border:none;
padding:12px;
width:100%;
cursor:pointer;
}

button:hover{background:#5c0a28;}

.list-item{
background:#eee;
padding:10px;
margin:5px 0;
}
